/* Styles for the profileContainer */
.profileContainer {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 800px; /* Limit the maximum width */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the profileOptions */
.profileOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.profileOption {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.profileOption:hover {
  background-color: #f0f0f0;
}

.profileOption.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Styles for the orderHistoryBlock */
.orderHistoryBlock {
  display: flex;
  /* flex-direction: column; */
  margin-top: 30px;
}

.orderGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.orderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.orderCard img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 5px;
  margin-bottom: 10px;
}

.orderCard .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderCard .details h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.orderCard .details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.orderCard .details .productPrices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.orderCard .details .productPrices .newPrice,
.orderCard .details .productPrices .strikeThrought {
  margin-right: 10px;
}

.orderCard:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}
/* 
.orderGroup img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
} */

/* Additional styles for the profileBlock and addressBlock */
.addressBlock {
  display: flex;
  flex-direction: column;
}
.profileBlockk,
.addressBlockk {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
}
.addressBlockk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: #e9f8fe;
  border-radius: 10px;
  padding: 20px;
}

.addressBlockk {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 300px;
}

.addressName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.phone, .properAddress {
  font-size: 16px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.buttons .edit {
  background-color: #ffc107;
  color: #fff;
}

.buttons .edit:hover {
  background-color: #d39e00;
}

.buttons .remove {
  background-color: #dc3545;
  color: #fff;
}

.buttons .remove:hover {
  background-color: #c82333;
}

.add-new-address-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
  margin-top: 20px;
}

.add-new-address-btn:hover {
  background-color: #218838;
}

/* Mobile-friendly styles */
@media screen and (max-width: 600px) {
  .profileOptions {
    flex-direction: row;
    font-size: 12px;
    align-items: center;
  }

  .profileOption {
    margin-bottom: 10px;
  }

  .profileBlock,
  .addressBlock {
    padding-top: 20px;
    margin-top: 20px;
  }

  .name,
  .email,
  .street,
  .state,
  .country,
  .phone {
    font-size: 16px;
  }

  .orderGroup img {
    width: 50px;
    height: 50px;
  }

  .buttons button {
    padding: 10px;
    width: 100%;
  }
}
